* {
    margin: 0 auto;
}

.icons-sec {
    align-items: center;
    text-align: center;
}

.box p {
    width: 65%;
    font-size: 18px;
}

.box h4 {
    font-size: 20px;
    padding-bottom: 10px;
}

.horizontal {
    display: flex;
    margin: 10px;
    text-align: center;
} 

.icons-sec h1 {
    font-size: 48px;
}

/* Green button */

.green-button {
    background-color: #77A222;   /*for hover effect #50701b */
    padding: 20px;
    border: none;
    border-radius: 4px;
    margin: 30px;
    font-size: 16px;
}

.green-button a {
    text-decoration: none;
    color: white;
}

.green-button:hover {
    background-color: #50701b; 
}

@media only screen and (max-width: 500px) {

}

.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color:rgba(187, 134, 252, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(187, 134, 252, 0.7);
  }

  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color:rgba(187, 134, 252, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(187, 134, 252, 0.7);
  }


  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color:rgba(187, 134, 252, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(187, 134, 252, 0.7);
  }


  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color:rgba(187, 134, 252, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(187, 134, 252, 0.7);
  }


  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color:rgba(187, 134, 252, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(187, 134, 252, 0.7);
  }


  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color:rgba(187, 134, 252, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(187, 134, 252, 0.7);
  }